<button class="btn btn-outline-primary btn-warning btn-lg btn-block" type="button" (click)="showORhide()">Anule este
  documento</button>
<div style="display:none" id="{{_indexComponent}}">
  <div class="card">
    <form [formGroup]="registrationForm" (submit)="onSubmit()">
      <div class="card-header">
        <div class="form-group">
          <label for="justification">Justificativa</label>
          <textarea [required]="true" type="search" class="form-control" formControlName="justification" rows="3"
            placeholder="Digie uma justificativa para a anulação do documento"></textarea>
        </div>
      </div>
      <div class="card-footer">
        <button [disabled]='!registrationForm.valid' type="submit" class="btn btn-outline-primary btn-block btn-lg calendar">Anular</button>
      </div>
    </form>
  </div>
</div>