<div class="row pt-5">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Processos</h3>
        </div>
        <div class="card-body">
           <div><a routerLink="/searchProcess/id" class="btn btn-primary btn-lg btn-block">Localizar</a></div>
            <hr>
            <div><a routerLink="/process/pre" class="btn btn-primary btn-lg btn-block">Novo Processo</a></div>
            <hr>
            <div><a routerLink="/process/list" class="btn btn-primary btn-lg btn-block">Meus Processos</a></div>
            <hr>
            <div><a routerLink="/process/movement/in" class="btn btn-primary btn-lg btn-block">Movimentação Interna</a></div>
            <hr>
            <div><a routerLink="/process/movement" class="btn btn-primary btn-lg btn-block">Movimentação Externa</a></div>
            <hr>
            <div><a routerLink="/process/entity/{{id_super}}/pending" class="btn btn-primary btn-lg btn-block">Pendências da Unidade</a></div>
            <hr>
            <div><a routerLink="/process/entity/{{id_entity}}/pending" class="btn btn-primary btn-lg btn-block">Minhas Pendências</a></div>
          </div>
      </div>
    </div>
  </div>