<div class="container-fluid">
    <h4>Cadastro de Colaboradores</h4>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="form-group" >
        <label for="name">Nome</label>
        <input [required]='true' formControlName="name" type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Digite o nome">
      </div>
      <div class="form-group">
        <label for="id">Cpf</label>
        <input [required]='true' formControlName="id" type="text" class="form-control" id="id" placeholder="Digite o Cpf">
      </div>
      <div class="form-group">
        <label for="id_super">Unidade Administrativa</label>
        <input formControlName="id_super" list="listEntity" [required]='true' (keyup)="onKeyUp()" (change)="onEntityChange()" type="text" class="form-control" id="id_entity" placeholder="Digite o nome da Unidade Administrativa">
      </div>
      <datalist id="listEntity">
         <select>
          <option *ngFor="let entity of listEntity" [value]="entity._key">{{entity.name}}</option>
         </select>
      </datalist>  
      <button [disabled]='!registrationForm.valid' type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>