<form [formGroup]="addressForm" (submit)="onSubmit()">
  <div class="form-group">
    <div class="container">
      <label for="id">CEP</label>
      <div class="row">
        <div class="col">
          <input [required]='true' formControlName="id" type="text" class="form-control" id="id"
            placeholder="Digite sem a pontuação." pattern="([0-9]{8})"
            [class.is-invalid]="addressForm.get('id').invalid && addressForm.get('id').touched">
          <small [class.text-danger]="true" *ngIf="addressForm.get('id').invalid && addressForm.get('id').touched">O
            campo CEP está inválido. Dica: remova a pontuação.</small>
        </div>
        <div *ngIf="mode=='search'" class="col">
          <button [disabled]="addressForm.get('id').invalid" type="submit" class="btn btn-primary btn-block">Localizar</button>
        </div>
        <div *ngIf="action=='failed'" class="col">
          <button type="button" (click)="onNew()" class="btn btn-secondary btn-block">Novo</button>
        </div>

      </div>
      <div *ngIf="mode=='new'">
        <div class="form-group">
          <label for="logradouro">Logradouro</label>
          <input [required]='true' formControlName="logradouro" type="text" class="form-control" id="logradouro"
            placeholder="Digite o logradouro."
            [class.is-invalid]="addressForm.get('logradouro').invalid && addressForm.get('logradouro').touched">
          <small [class.text-danger]="true"
            *ngIf="addressForm.get('logradouro').invalid && addressForm.get('logradouro').touched">Campo
            obrigatório.</small>
        </div>
        <div class="form-group">
          <label for="bairro">Bairro</label>
          <input [required]='true' formControlName="bairro" type="text" class="form-control" id="bairro"
            placeholder="Digite o bairro."
            [class.is-invalid]="addressForm.get('bairro').invalid && addressForm.get('bairro').touched">
          <small [class.text-danger]="true"
            *ngIf="addressForm.get('bairro').invalid && addressForm.get('bairro').touched">Campo
            obrigatório.</small>
        </div>
        <div class="form-group">
          <label for="bairro">Cidade</label>
          <input [required]='true' formControlName="localidade" type="text" class="form-control" id="localidade"
            placeholder="Digite a cidade."
            [class.is-invalid]="addressForm.get('localidade').invalid && addressForm.get('localidade').touched">
          <small [class.text-danger]="true"
            *ngIf="addressForm.get('localidade').invalid && addressForm.get('localidade').touched">Campo
            obrigatório.</small>
        </div>
  
        <button [disabled]='!addressForm.valid' type="button" (click)="onSave()" class="btn btn-primary btn-block">Salvar</button>

      </div>
    </div>
  </div>
</form>

<div *ngIf="!!address">
  <label>Logradouro:</label>
  <h5>{{address.logradouro}}</h5>
  <label>Bairro:</label>
  <h5>{{address.bairro}}</h5>
</div>