<form [formGroup]="addressForm" (submit)="onSubmit()">
  <div class="form-group">
    <div class="container">
      <label for="id">CEP</label>
      <div class="row">
        <div class="col">
          <input [required]='true' formControlName="id" type="text" class="form-control" id="id"
            placeholder="Digite sem a pontuação." pattern="([0-9]{8})"
            [class.is-invalid]="addressForm.get('id').invalid && addressForm.get('id').touched">
          <small [class.text-danger]="true" *ngIf="addressForm.get('id').invalid && addressForm.get('id').touched">O
            campo CEP está inválido. Dica: remova a pontuação.</small>
        </div>
        <div class="col">
          <button [disabled]='!addressForm.valid' type="submit" class="btn btn-primary">Localizar</button>
        </div>
      </div>
    </div>
  </div>
</form>
<div *ngIf="!!address">
  <label>Logradouro:</label>
  <h5>{{address.logradouro}}</h5>
  <label>Bairro:</label>
  <h5>{{address.bairro}}</h5>
</div>