<router-outlet></router-outlet>
<!--<div class="col-md-6 mx-auto">
    <div class="card rounded-0">
        <div class="card-head text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <button [disabled]="!!_service.unit1 && !!_service.unit2"
                            class="btn btn-outline-primary btn-block" (click)="callNewEdit()">Etapa 1</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->