<h5 class="text-center">Pendências da Unidade</h5>
<div class="col-md-6 mx-auto">
  <div class="card rounded-0 text-center">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div *ngIf="!!listDetailProcess" class="card-header">
        <div class="form-group">
          <label for="id_process">Nome do Requerente ou Código do Processo:</label>
          <div class="row">
            <div class="col">
              <input formControlName="id_process" type="search" class="form-control" id="id_process">
            </div>
            <div class="col">
              <button (click)="destacarId()" type="button" class="btn btn-primary btn-block btn-sm">Destacar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="card-body">
      <div *ngFor="let detailProcess of listDetailProcess;let i= index">
        <div class="card dinamic-show {{detailProcess.process.id}} {{detailProcess.concerned.name}}">
          <div class="card-header">
            <h6>Número:</h6>
            <p class="card-title  text-center">{{detailProcess.process.id}}</p>
            <h6>Assunto:</h6>
            <p>{{detailProcess.subjectProcess.name}}</p>
            <h6>Requerente:</h6>
            <p>{{detailProcess.concerned.name}}</p>
          </div>
          <div class="card-body">
            <h6>Texto Base:</h6>
            <p class="card-text">{{detailProcess.process.description}}</p>
          </div>
          <div class="card-footer">
            <button (click)="onReceive(detailProcess)" type="button"
              class="btn btn-primary btn-lg btn-block">Aceitar</button>
            <button (click)="onReject(detailProcess)" type="button"
              class="btn btn-secondary btn-lg btn-block">Recusar</button>
            <button class="btn btn-primary btn-lg btn-block" type="button" (click)="showORhide(i)">Listagem de
              Documentos</button>
            <div style="display:none" id=list{{i}}>
              <app-list-document [idProcess]="detailProcess.process._key"></app-list-document>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>