<div class="container-fluid">
  <h2>Registration Entity</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group" >
      <label for="entity.id_creator">Creator Entity</label>
      <input [required]='true' formControlName="id_creator" type="text" class="form-control" id="entity.id_creator" >
    </div>
    <div class="form-group" >
      <label for="entity.name">Name</label>
      <input [required]='true' formControlName="name" type="text" class="form-control" id="entity.name" aria-describedby="nameHelp" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="entity.id">Id</label>
      <input [required]='true' formControlName="id" type="text" class="form-control" id="entity.id" placeholder="Enter Id">
    </div>
    <button [disabled]='!registrationForm.valid' type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>