<!--<div class="row pt-5">
  <div class="col-md-6 mx-auto">-->
<div class="card">
  <div class="card-header">
    <h6>Número:</h6>
    <p class="card-title">{{processDetail.process.id}}</p>
    <h6>Assunto:</h6>
    <p>{{processDetail.subjectProcess.name}}</p>
    <h6>Requerente:</h6>
    <p>{{processDetail.concerned.name}}</p>
  </div>
  <div class="card-body">
    <h6>Texto Base:</h6>
    <p class="card-text">{{processDetail.process.description}}</p>
  </div>

  <div class="card-footer">
    <button (click)="sendEmail()" type="button"
      class="btn btn-primary btn-lg btn-block">Enviar Protocolo</button>
      <small *ngIf="clickSendProtocol && sendEmailTrue">
        E-MAIL ENVIADO PARA {{emailAddress}}.</small>
      <small *ngIf="clickSendProtocol && !sendEmailTrue" class="text-danger">
        Houve algum PROBLEMA ao enviar um email para {{emailAddress}}.</small>
  </div>
  
</div>
<br>

<div class="card">
  <div class="card-header">
    <h5 class="text-center">Adicionar Documentos</h5>
  </div>
  <div class="card-body">
    <app-document [idProcess]="processDetail.process._key"></app-document>
  </div>
</div>
