<div class="col-md-6 mx-auto">
  <div class="card rounded-0">
    <div class="card-header  text-center">
      <h5>Cadastro de Usuário Administrador</h5>
    </div>
    <div class="card-body">

      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Usuário:</label>
          <input [required]='true' formControlName="name" type="text" autocomplete="off" class="form-control" id="name"
            aria-describedby="nameHelp" placeholder="Digite o nome">
        </div>
        <div class="form-group">
          <label for="password">Senha:</label>
          <div class="input-group">
            <input [required]='true' formControlName="password" type="password" autocomplete="off" class="form-control"
              id="password" placeholder="Digite a senha.">
            <button class="input-group-addon" (click)="showPassword('password',$event)" type="button"><i
                class="fa fa-eye-slash"></i></button>
          </div>
        </div>
        <div class="form-group">
          <label for="key_unit">Unidade</label>
          <select [required]='true' class="form-control" formControlName='key_unit'>
            <option *ngFor="let unit of listUnit" [value]="unit._key">{{unit.name}}</option>
          </select>
        </div>
        <button [disabled]='!registrationForm.valid' type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>
</div>