<form [formGroup]="entityForm" (submit)="onSubmit()">
  <div class="form-group">
    <label for="id">CPF/CNPJ</label>
    <div class="container">
      <div class="row">
        <div class="col">
          <input [required]='true' formControlName="id" type="text" class="form-control" id="id">
        </div>
        <div class="col">
          <button [disabled]='!entityForm.valid' type="submit" class="btn btn-primary">Localizar</button>
        </div>
      </div>
    </div>
  </div>
</form>
