<div class="container-fluid">
  <div class="text-center">
    <h5>Cadastramento de Unidade Administrativa</h5>
    <small *ngIf="status==='editing'">*Pronto para a edição de uma UNIDADE EXISTENTE.</small>
    <small *ngIf="status==='creating'">*Pronto para a edição de um NOVA UNIDADE.</small>
  </div>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-body">
          <div class="form-group">
            <label for="name">Nome</label>
            <input (change)="onchangeName()" (keyup)="onkeyupName()" [required]='true' formControlName="name"
              type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Digite o nome">
          </div>
          <div class="form-group">
            <label for="id">Código</label>
            <input [required]='true' formControlName="id" type="text" class="form-control" id="id"
              placeholder="Digite o código: Sigla, número, etc.">
          </div>
        </div>
        <div class="card-footer">
          <button [disabled]="listEntity>0 || !registrationForm.valid" type="submit"
            class="btn btn-primary btn-block btn-lg">Salvar</button>
        </div>
      </div>
    </div>
  </form>
</div>
<hr>
<div class="text-center">
  <div *ngIf="canDeleteError">
    <small class="text-danger">A operação não pôde ser realizada.</small>
    <br>
  </div>
  <div *ngIf="listing===true">
    <h5>Listagem de Unidades</h5>
  </div>
</div>
<hr>
<div *ngFor="let unit of listEntity">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-body">
        <h5>{{unit.name}}</h5>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col">
            <button (click)="onEdit(unit)" type="button" class="btn btn-primary btn-lg btn-block">Editar</button>
          </div>
          <div class="col">
            <button (click)="delete(unit)" type="button" class="btn btn-danger btn-lg btn-block">Excluir</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>