<h5 class="text-center">Localização de Pessoa Física ou Jurídica.</h5>
<hr>
<form [formGroup]="sForm" (submit)="onSubmit()">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-body">
        <div class="form-group">
          <label for="id">CPF ou CNPJ</label>
          <input type="text" placeholder="Digite um CPF ou CNPJ." formControlName="id" class="form-control">
          <small class="text-danger" *ngIf="!!_listEntity && _listEntity.length==0">Não há pessoas com esse CPF ou
            CNPJ</small>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary btn-lg btn-block" type="button" type="submit">Localizar</button>
      </div>
    </div>
  </div>
</form>
<hr>
<div *ngFor="let entity of _listEntity">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h6 class="text-center">name:</h6>
        <h5 class="text-center">{{entity.name}}</h5>
        <h6 class="text-center">Cpf/CNPJ:</h6>
        <h5 class="text-center">{{entity.id}}</h5>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col">
            <button (click)="onEdit(entity)" type="button" class="btn btn-primary btn-lg btn-block">Editar</button>
          </div>
          <div *ngIf="throwToProcess" class="col">
            <button (click)="onThrowToProcess(entity)" type="button" class="btn btn-primary btn-lg btn-block">Novo
              Processo</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
