<form [formGroup]="registrationForm" (submit)="onSubmit()">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="form-group">
        <label for="name">Assunto de Processo</label>
        <input readonly="true" [value]="_service.subjectProcess.name" class="form-control">
      </div>
      <div class="form-group">
        <label for="id_entity">Unidades de Origem</label>
        <select [required]='true' class="form-control" formControlName='key_unit1'>
          <option *ngFor="let entity of _listUnit1" [value]="entity._key">
            {{entity.id}}</option>
        </select>
      </div>
      <button [disabled]='registrationForm.value.key_unit1==""' (click)="onAddBegin()" type="button" class="btn btn-primary btn-lg btn-block">Adicionar</button>
      <hr>
      <div class="card rounded-0">
        <h5 class="text-center">Listagem de Unidades de Origem</h5>
      </div>
      <div class="card rounded-0">
        <div *ngFor="let unit of _service.listUnitBeginProcess">
          <div class="card-head text-center">
            <h5>{{unit.id}}</h5>
          </div>
          <hr>
          <div class="card-footer">
            <div class="row">
              <div class="col">
                <button (click)="onDefineBeginProcess(unit)" type="button"
                class="btn btn-outline-primary btn-lg btn-block">Definir</button>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="form-group">
        <label for="id_entity">Unidades de Destino</label>
        <select [required]='true' class="form-control" formControlName='key_unit2'>
          <option *ngFor="let entity of _listUnit2" [value]="entity._key">
            {{entity.id}}</option>
        </select>
      </div>
      <button [disabled]='registrationForm.value.key_unit2==""' (click)="onAddEnd()" type="button" class="btn btn-primary btn-lg btn-block">Adicionar</button>
      <hr>
      <div class="card rounded-0">
        <h5 class="text-center">Listagem Unidades de Destino</h5>
      </div>
      <div class="card rounded-0">
        <div *ngFor="let unit of _service.listUnitEndProcess">
          <div class="card-head text-center">
            <h5>{{unit.id}}</h5>
          </div>
          <hr>
          <div class="card-footer">
            <div class="row">
              <div class="col">
                <button (click)="onDefineEndProcess(unit)" type="button"
                class="btn btn-outline-primary btn-lg btn-block">Definir</button>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</form>
