<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-body">
        <div class="form-group">
          <label>Senha</label>
          <div class="input-group">
            <input [required]='true' formControlName="password" type="password" (keyup)="onKeyUp()" autocomplete="off"
              class="form-control" placeholder="Digite a senha">
          </div>
        </div>
        <div class="form-group">
          <label>Confirmação</label>
          <div class="input-group">
            <input [required]='true' formControlName="passwordCheck" (keyup)="onKeyUp()" type="password"
              autocomplete="off" class="form-control" placeholder="Digite a senha">
          </div>
        </div>
        <app-button-alert [disabled]='notCheck' [type]="submit" [duration]="5000"
        [textButton]="'Salvar'" [message]="'A senha foi alterada!'"></app-button-alert>
      </div>
    </div>
  </div>
</form>