<div>
  {{_service.subjectProcess.name}}
</div>
<div>
  {{_service.entityBeginEnd}}
</div>
<div *ngFor="let unit of listUnit">
  <div *ngIf="_service?.entityBeginEnd?._key!=unit._key" class="col-md-6 mx-auto">
      <div class="card rounded-0">
          <div class="card-body">
              <h5>{{unit.name}}</h5>
          </div>
          <div class="card-footer">
              <div class="row">
                  <div class="col">
                      <button (click)="choice(unit)" type="button"
                          class="btn btn-secondary btn-lg btn-block">Escolher</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <hr>
</div>