<div class="row pt-5">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Usuários</h3>
        </div>
        <div class="card-body">
            <div><a routerLink="/user/new" class="btn btn-primary btn-lg btn-block">Novo</a></div>
            <hr>
            <div><a routerLink="/user/search" class="btn btn-primary btn-lg btn-block">Localizar</a></div>
        </div>
      </div>
    </div>
  </div>