<div *ngIf="errorMessage !== ''" class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h5 class="text-danger" this.errorMessage></h5>
    </div>
    <div class="footer">
      <div class="row">
        <div class="col">
          <a routerLink="/individualPerson/list" class="btn btn-primary btn-sm">Ir para a LISTAGEM</a>
        </div>
      </div>
    </div>
  </div>

</div>
<div *ngIf="errorMessage == ''" class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h5>Requerente:</h5>
      <h6>{{entity.name}}</h6>
      <h5>Identificador:</h5>
      <h6>{{entity.id}}</h6>
    </div>
  </div>
  <hr>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="id_subject">Assunto</label>
      <select [required]='true' (change)="onSubjectChange()" class="form-control" formControlName='id_subject'>
        <option *ngFor="let subject of listSubject" [value]="subject._key">{{subject.name}}</option>
      </select>
    </div>
    <datalist id="listSubject">
      <select>
        <option *ngFor="let subject of listSubject" [value]="subject._key">{{subject.name}}</option>
      </select>
    </datalist>
    <div class="form-group">
      <label for="description">Descrição</label>
      <textarea formControlName="description" class="form-control" id="description" placeholder="Digite uma descrição"
        rows="5"></textarea>
    </div>
    <button [disabled]='!registrationForm.valid' type="submit" class="btn btn-primary btn-block btn-lg">Ir para Adicionar Documentos</button>
  </form>
</div>