<div class="container-fluid">
  <h2>Registration Process</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="id_subject">Assunto</label>
      <select [required]='true' (change)="onSubjectChange()" class="form-control" formControlName='id_subject'>
        <option *ngFor="let subject of listSubject" [value]="subject._key">{{subject.name}}</option>
      </select>
    </div>
    <datalist id="listSubject">
      <select>
        <option *ngFor="let subject of listSubject" [value]="subject._key">{{subject.name}}</option>
      </select>
    </datalist>
    <div class="form-group">
      <label for="id">Código</label>
      <input type="text" [required]='true' formControlName="id" class="form-control" id="id" placeholder="Digite um código"
        rows="10">
    </div>
    <div class="form-group">
      <label for="description">Descrição</label>
      <textarea formControlName="description" class="form-control" id="description" placeholder="Digite uma descrição"
        rows="5"></textarea>
    </div>
    <div class="form-group">
      <label for="id_concernedOut">Pessoa Interessada</label>
      <input formControlName="id_concernedOut" list="listEntity" [required]='true' (keyup)="onKeyUp()" (change)="onEntityChange()"
        type="text" class="form-control" id="id_concernedOut" placeholder="Digite o nome da pessoa interessada">
    </div>
    <datalist id="listEntity">
      <select>
        <option *ngFor="let entity of listEntity" [value]="entity._key">{{entity.name}}</option>
      </select>
    </datalist>
    <button [disabled]='!registrationForm.valid' type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>