<div class="container-fluid">
  <h5 class="text-center">Localização de Processo</h5>
  <br>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-body">

          <div class="form-group">
            <label for="id_process">Processo:</label>
            <input formControlName="id_process" type="search" class="form-control" id="id_process"
              placeholder="Digite qualquer parte de um NÚMERO de PROCESSO.">
          </div>
          <div class="form-group">
            <label for="partReqName">Requerente:</label>
            <input formControlName="partReqName" type="search" class="form-control" id="partReqName"
              placeholder="Digite qualquer parte de um nome de REQUERENTE.">
          </div>
          <div class="form-group">
            <label for="partAdmName">Setor:</label>
            <input formControlName="partAdmName" type="search" class="form-control" id="partAdmName"
              placeholder="Digite qualquer parte de um nome de SETOR.">
          </div>
          <div class="form-group">
            <label for="partIndName">Responável:</label>
            <input formControlName="partIndName" type="search" class="form-control" id="partIndName"
              placeholder="Digite qualquer parte de um nome de RESPONSÁVEL.">
          </div>
          <div class="form-group">
            <label for="partNameSubject">Assunto:</label>
            <input formControlName="partNameSubject" type="search" class="form-control" id="partNameSubject"
              placeholder="Digite qualquer parte de um nome de ASSUNTO.">
          </div>
          <app-button-alert [disabled]='!registrationForm.valid && btnDisabled' [type]="submit" [duration]="5000"
          [textButton]="'Filtrar'" [message]="'Pode haver uma lista de Processos logo abaixo!'"></app-button-alert>  
          <hr>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="container-fluid">
  <div *ngFor="let detailProcess of listDetailProcess;let i= index">
    <div class="card text-center">
      <div class="card-header">
        <div class="alert alert-info" role="alert">
          PROCESSO: {{detailProcess.process.id}}
        </div>
        <div *ngIf="!detailProcess.process.active" class="alert alert-warning" role="alert">
          ARQUIVADO
        </div>
        <h6>Assunto:</h6>
        <p>{{detailProcess.subjectProcess.name}}</p>
        <h6>Requerente:</h6>
        <p>{{detailProcess.concerned.name}}</p>
      </div>
      <div class="card-body">
        <h6>Texto Base:</h6>
        <p class="card-text">{{detailProcess.process.description}}</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary btn-lg btn-block" type="button" (click)="showORhide(i)">Listagem de
          Documentos</button>
        <div style="display:none" id=list{{i}}>
          <app-list-document [idProcess]="detailProcess.process._key"></app-list-document>
        </div>
        <br>
        <button class="btn btn-primary btn-lg btn-block" type="button" (click)="showORhideEvent(i)">Detalhes dos
          Eventos</button>
        <div style="display:none" id=event{{i}}>
          <div *ngIf="!!detailProcess.eventPromise" class="card-header">
            <h6>Pendência de confimação:</h6>
            <p>{{detailProcess.eventPromise.administrative.id}}</p>
            <h6>Desde:</h6>
            <p>{{detailProcess.eventPromise.event.time | date:'dd/MM/yyyy - hh:mm:ss'}}</p>
          </div>
          <hr>
          <div *ngFor="let eventDetail of detailProcess.listEventReceiver;let i= index">
            <div class="card-header text-center">
              <h6>Unidade Administrativa:</h6>
              <p>{{eventDetail.administrative.id}}</p>
              <h6>Servidor:</h6>
              <p>{{eventDetail.individual.name}}</p>
              <h6>Em:</h6>
              <p>{{eventDetail.event.time | date:'dd/MM/yyyy - hh:mm:ss'}}</p>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>