<div class="container-fluid">
  <div class="text-center">
    <h5>Cadastramento de Pessoa Física</h5>
    <small *ngIf="status=='editing'">Pronto para a edição de uma PESSOA EXISTENTE.</small>
    <small *ngIf="status=='creating'">Pronto para a edição de um NOVA PESSOA.</small>
  </div>
  <br>
  <form [formGroup]="registrationForm">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-body">

          <div class="form-group">
            <label for="id">Cpf</label>
            <input [readonly]="!!person?._key" (keyup)="changeCpf()" (change)="changeCpf()" pattern="([0-9]{11})"
              [required]='true' formControlName="id" type="text" class="form-control" id="id"
              placeholder="Digite apenas números."
              [class.is-invalid]="(registrationForm.get('id').invalid || idExist) && registrationForm.get('id').touched">

            <small *ngIf="registrationForm.get('id').invalid && registrationForm.get('id').touched" class="text-danger">
              O CPF está inválido. Observe se há apeanas números.</small>
            <small *ngIf="idExist && registrationForm.get('id').touched" class="text-danger">
              O CPF já está cadastrado.</small>
          </div>
          <div class="form-group">
            <label for="name">Nome</label>
            <input [required]='true' formControlName="name" type="text" class="form-control" id="name"
              placeholder="Digite o nome"
              [class.is-invalid]="registrationForm.get('name').invalid && registrationForm.get('name').touched">
            <small *ngIf="registrationForm.get('name').invalid && registrationForm.get('name').touched"
              class="text-danger">
              O campo NOME está inválido.</small>
          </div>
          <div class="form-group">
            <label for="nameMom">Nome da Mãe</label>
            <input [required]='true' formControlName="nameMom" type="text" class="form-control" id="nameMom"
              placeholder="Digite o nome da Mãe."
              [class.is-invalid]="registrationForm.get('nameMom').invalid && registrationForm.get('nameMom').touched">
            <small *ngIf="registrationForm.get('nameMom').invalid && registrationForm.get('nameMom').touched"
              class="text-danger">
              O campo NOME DA MÃE está inválido.</small>
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="Digite o E-mail"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
              [class.is-invalid]="registrationForm.get('email').invalid && registrationForm.get('email').touched  && registrationForm.get('email').dirty">
            <small [class.text-danger]="true"
              *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched  && registrationForm.get('email').dirty">O
              campo E-EMAIL está
              inválido</small>
          </div>
          <div class="form-group">
            <label for="phone">Telefone</label>
            <input [required]="true" formControlName="phone" type="text" class="form-control" id="phone"
              placeholder="Digite o telefone"
              [class.is-invalid]="registrationForm.get('phone').invalid && registrationForm.get('phone').touched">
            <small [class.text-danger]="true"
              *ngIf="registrationForm.get('phone').invalid && registrationForm.get('phone').touched">O campo TELEFONE
              está
              inválido.</small>

            <app-address [address]="address" (eventAddress)="reciverEventAddress($event)"></app-address>
          </div>
        </div>
        <div *ngIf="!!address">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="firstId">Número</label>
                  <input [required]='true' formControlName="firstId" type="text" class="form-control" id="firstId"
                    placeholder="Digite o número."
                    [class.is-invalid]="registrationForm.get('firstId').invalid && registrationForm.get('firstId').touched">
                  <small *ngIf="registrationForm.get('firstId').invalid && registrationForm.get('firstId').touched"
                    class="text-danger">
                    O campo NÚMERO está inválido.</small>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="complemento">Complemento</label>
                  <input formControlName="complemento" class="form-control" type="text" id="complemento"
                    placeholder="Digite o complemento">
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button [disabled]='!registrationForm.valid && idExist==false' type="button" (click)="onSubmit()"
              class="btn btn-primary btn-lg btn-block">Salvar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>