<ng-template  #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Redirecionamento</h4>
  </div>
  <div class="modal-body">
    <p>Processo <b>Arquivado</b> com sucesso!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="redirect();c('redirect')">Ir para <b>Processos sob minha responsabilidade</b></button>
  </div>
</ng-template>

<div class="container-fluid">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(content)">
    <div class="form-group">
      <label for="id_subject">Tipo de Documento</label>
      <select [required]='true' class="form-control" formControlName='id_subject' (change)="onChange()">
        <option *ngFor="let subjectDocumentDetail of listSubjectDocumentDetail" [value]="subjectDocumentDetail._key">
          {{subjectDocumentDetail.name}}</option>
      </select>
    </div>
    <div *ngIf="showText">
      <div class="form-group">
        <angular-editor [required]="false" id="editor" formControlName="text" [config]="editorConfig"></angular-editor>
      </div>
    </div>
    <app-button-alert [disabled]='!registrationForm.valid' [type]="submit" [duration]="5000" [textButton]="'Adicione'" [message]="'Documento Adicionado!'"></app-button-alert>
  </form>
</div>
<br>
<app-list-document (annulationEvent)="annulationEvent()" [listDocument]="listDocument" [idProcess]="idProcess" [readonly]="false"></app-list-document>