<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Login</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Nome</label>
            <input [required]='true' formControlName="name" type="text" class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="password">Senha</label>
            <input [required]='true' formControlName="password" type="password" class="form-control" id="password">
          </div>
          <small class="text-danger">{{errorMesage}}</small>
          <button class="btn btn-primary float-right">Acessar</button>
        </form>
      </div>
    </div>
  </div>
</div>