<div class="container-fluid">
  <h5 class="text-center">Cadastramento de Usuários</h5>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-header">
          <div class="form-group text-center">
            <label for="key_unit">Unidade</label>
            <select (change)="onChangeUnit()" placeholder="" [required]='true' class="form-control"
              formControlName='key_unit'>
              <option *ngFor="let unit of listUnit" [value]="unit._key">{{unit.name}}</option>
            </select>
            <small *ngIf="noConnectPerson" class="text-danger">Não há Pessoas Vinculadas a está Unidade
              Administrativa.</small>
          </div>
          <div class="form-group text-center">
            <label for="key_entity">Pessoa</label>
            <select (change)="onChangePerson()" placeholder="" [required]='true' class="form-control"
              formControlName='key_entity'>
              <option *ngFor="let _entityUser of listEntityUser" [value]="_entityUser.entity._key">
                {{_entityUser.entity.name}}</option>
            </select>
            <br>
          </div>
        </div>
        <div *ngIf="!!editingUser" class="card-body">
            <label for="cpf">CPF</label>
            <input [readonly]="true" type="text" class="form-control" id="cpf" value="{{editingUser.entity.id}}">

          <div class="form-group">
            <label for="name">Usuário</label>
            <input [readonly]="!!editingUser.user" (keyup)="changeName()" (change)="changeName()" [required]='true'
              formControlName="name" type="text" class="form-control" id="name" aria-describedby="nameHelp"
              placeholder="Digite o nome">
          </div>
          <small *ngIf="isCloneName" class="text-danger">Usuário já existente</small>
          <br>
          <div class="container">
            <div class="row">
              <div class="col">
                <label>Administrador:</label>
                <div class="input-group">
                  <span><b>Não</b>&nbsp;&nbsp;</span>
                  <label class="switch">
                    <input formControlName="isAdministrator" type="checkbox"
                      [checked]="registrationForm.value.isAdministrator">
                    <span class="slider"></span>
                  </label>
                  <span>&nbsp;&nbsp;<b>Sim</b></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>Operador de Processos:</label>
                <div class="input-group">
                  <span><b>Não</b>&nbsp;&nbsp;</span>
                  <label class="switch">
                    <input type="checkbox" formControlName="isProcessOperator"
                      [checked]="registrationForm.value.isProcessOperator">
                    <span class="slider"></span>
                  </label>
                  <span>&nbsp;&nbsp;<b>Sim</b></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>Operador de Configurações (Internas) e Cadastro de Pessoas:</label>
                <div class="input-group">
                  <span><b>Não</b>&nbsp;&nbsp;</span>
                  <label class="switch">
                    <input type="checkbox" formControlName="isConfigOperator"
                      [checked]="registrationForm.value.isConfigOperator">
                    <span class="slider"></span>
                  </label>
                  <span>&nbsp;&nbsp;<b>Sim</b></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>Operador de Configurações (Extenas):</label>
                <div class="input-group">
                  <span><b>Não</b>&nbsp;&nbsp;</span>
                  <label class="switch">
                    <input type="checkbox" formControlName="isConfigOperatorExt"
                      [checked]="registrationForm.value.isConfigOperatorExt">
                    <span class="slider"></span>
                  </label>
                  <span>&nbsp;&nbsp;<b>Sim</b></span>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <button [disabled]="!registrationForm.valid || isCloneName" type="button" type="submit"
            class="btn btn-primary btn-lg btn-block">Salvar</button>
          <hr>
          <form [formGroup]="registrationForm" (ngSubmit)="passwordReset()">
            <app-button-alert *ngIf="!!editingUser?.user" [type]="submit" [duration]="10000"
              [textButton]="'Reiniciar Senha e Salver'" [message]="'A SENHA AGORA É IGUAL AO NÚMERO DO CPF!'">
            </app-button-alert>
          </form>
        </div>
      </div>
    </div>
  </form>
</div>