<div class="container-fluid">
  <h5 class="text-center">Cadastramento de Usuários</h5>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-body">
          <div class="form-group text-center">
            <small>*Selecione uma Unidade para listar as Pessoas vinculadas.</small>
            <br>
            <label for="key_unit">Unidade</label>
            <select (change)="onChangeUnit()" placeholder="" [required]='true' class="form-control"
              formControlName='key_unit'>
              <option *ngFor="let unit of listUnit" [value]="unit._key">{{unit.name}}</option>
            </select>
            <small *ngIf="noConnectPerson" class="text-danger">Não há Pessoas Vinculadas a está Unidade
              Administrativa.</small>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div *ngFor="let entityUser of listEntityUser; let i = index">
    <hr *ngIf="i==0">
    <h5 class="text-center" *ngIf="i==0">Listagem de Pessoas e Usuários</h5>
    <hr>
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-header">
          <div class="card-title">Dados da Pessoa:</div>
          <label>Nome:</label>
          <h6>{{entityUser.entity.name}}</h6>
          <label>Cpf:</label>
          <h6>{{entityUser.entity.id}}</h6>
        </div>
        <div *ngIf="!!entityUser.user" class="card-body">
          <div class="card-title">Dados do Usuário</div>
          <label>Usuário:</label>
          <h6>{{entityUser.user.name}}</h6>
          <hr>
          <button type="button" (click)="edit(entityUser,$event)"
            class="btn btn-primary btn-sm btn-block">Editar</button>
          <br>
          <div style="display:none" id="{{entityUser.user._key}}">
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="password">Senha</label>
                <div class="container">
                  <div class="input-group">
                    <input [required]='true' formControlName="password" type="password" autocomplete="off"
                      class="form-control" id="{{i}}" placeholder="Digite a senha.">
                    <button class="input-group-addon" (click)="showPassword(i,$event)" type="button"><i
                        class="fa fa-eye-slash"></i></button>
                  </div>
                </div>
                <br>
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <label>Administrador:</label>
                      <div class="input-group">
                        <span><b>Não</b>&nbsp;&nbsp;</span>
                        <label class="switch">
                          <input formControlName="isAdministrator" type="checkbox"
                            [checked]="registrationForm.value.isAdministrator">
                          <span class="slider"></span>
                        </label>
                        <span>&nbsp;&nbsp;<b>Sim</b></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label>Operador de Processos:</label>
                      <div class="input-group">
                        <span><b>Não</b>&nbsp;&nbsp;</span>
                        <label class="switch">
                          <input type="checkbox" formControlName="isProcessOperator"
                            [checked]="registrationForm.value.isProcessOperator">
                          <span class="slider"></span>
                        </label>
                        <span>&nbsp;&nbsp;<b>Sim</b></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label>Operador de Configurações e Cadastro de Pessoas:</label>
                      <div class="input-group">
                        <span><b>Não</b>&nbsp;&nbsp;</span>
                        <label class="switch">
                          <input type="checkbox" formControlName="isConfigOperator"
                            [checked]="registrationForm.value.isConfigOperator">
                          <span class="slider"></span>
                        </label>
                        <span>&nbsp;&nbsp;<b>Sim</b></span>
                      </div>
                    </div>
                  </div>
                </div>
                <br><br>
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <button [disabled]="!registrationForm.valid" type="button" type="submit"
                        class="btn btn-primary btn-sm btn-block">Salvar</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div *ngIf="!entityUser.user" class="card-body">
          <hr>
          <button type="button" (click)="newUser(entityUser.entity,$event)"
            class="btn btn-primary btn-sm btn-block">Novo</button>
          <div style="display:none" id="{{entityUser.entity._key}}">
            <br>
            <div class="card-title">Dados do Usuário</div>
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="name">Usuário</label>
                <input (keyup)="changeName()" (change)="changeName()" [required]='true' formControlName="name"
                  type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Digite o nome">
              </div>
              <small *ngIf="isCloneName" class="text-danger">Usuário já existente</small>
              <div class="form-group">
                <label for="{{i}}">Senha</label>
                <div class="container">
                  <div class="input-group">
                    <input [required]='true' formControlName="password" type="password" autocomplete="off"
                      class="form-control" id="{{i}}" placeholder="Digite a senha">
                    <button class="input-group-addon" (click)="showPassword(i,$event)" type="button"><i
                        class="fa fa-eye-slash"></i></button>
                  </div>
                </div>
              </div>
              <br>
              <div class="container">
                <div class="row">
                  <div class="col">
                    <label>Administrador:</label>
                    <div class="input-group">
                      <span><b>Não</b>&nbsp;&nbsp;</span>
                      <label class="switch">
                        <input formControlName="isAdministrator" type="checkbox"
                          [checked]="registrationForm.value.isAdministrator">
                        <span class="slider"></span>
                      </label>
                      <span>&nbsp;&nbsp;<b>Sim</b></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label>Operador de Processos:</label>
                    <div class="input-group">
                      <span><b>Não</b>&nbsp;&nbsp;</span>
                      <label class="switch">
                        <input type="checkbox" formControlName="isProcessOperator"
                          [checked]="registrationForm.value.isProcessOperator">
                        <span class="slider"></span>
                      </label>
                      <span>&nbsp;&nbsp;<b>Sim</b></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label>Operador de Configurações:</label>
                    <div class="input-group">
                      <span><b>Não</b>&nbsp;&nbsp;</span>
                      <label class="switch">
                        <input type="checkbox" formControlName="isConfigOperator"
                          [checked]="registrationForm.value.isConfigOperator">
                        <span class="slider"></span>
                      </label>
                      <span>&nbsp;&nbsp;<b>Sim</b></span>
                    </div>
                  </div>
                </div>
              </div>
              <br><br>
              <div class="container">
                <div class="row">
                  <div class="col">
                    <button [disabled]="!registrationForm.valid || isCloneName" type="button" type="submit"
                      class="btn btn-primary btn-sm btn-block">Salvar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>