<div class="row pt-5">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Entidades Externas</h3>
        </div>
        <div class="card-body">
            <div><a routerLink="/entity/person/out/new" class="btn btn-primary btn-lg btn-block">Novo Munícipe</a></div>
            <hr>
            <div><a routerLink="/entity/person/out/search" class="btn btn-primary btn-lg btn-block">Localizar Munícipe</a></div>
            <hr>
            <div><a routerLink="/entity/legalPerson/new" class="btn btn-primary btn-lg btn-block">Nova Organização</a></div>
            <hr>
            <div><a routerLink="/entity/unit/out/search" class="btn btn-primary btn-lg btn-block">Localizar Organização</a></div>
        </div>
      </div>
    </div>
  </div>