<form [formGroup]="sForm" (submit)="onSubmit()">
    <div class="form-group">
      <label for="id">CNPJ</label>
      <input type="text" formControlName="id" class="form-control">
      <br>
      <button class="btn btn-primary" type="button" type="submit">Enviar</button>
    </div>
  </form>
  <hr>
  <hr>
  <div *ngFor="let entity of _listEntity">
    <div class="card">
      <div class="card-header">
        <label>name:</label>
        <h6>{{entity.name}}</h6>
        <label>Id:</label>
        <h6>{{entity.id}}</h6>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <button (click)="onEdit(entity)" type="button" class="btn btn-primary btn-sm btn-block">Editar</button>
            </div>
  
            <div class="col">
              <button (click)="onThrowToProcess(entity)" type="button" class="btn btn-danger btn-sm btn-block">Novo Processo</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>