<div class="col-md-6 mx-auto">
  <div class="card rounded-0">
    <h5 class="text-center">Listagem de Assuntos de Processos de Tramite entre Unidades</h5>
  </div>
</div>
<hr>
<div class="col-md-6 mx-auto">
  <div class="card rounded-0">
    <div *ngFor="let subject of _listSubjectProcess">
      <div class="card-head text-center">
        <h5>{{subject.subjectProcess.name}}</h5>
      </div>
      <hr>
      <div class="card-body">
        <div *ngFor="let entityDetail of subject.listSuperBeginProcess;let i =index">
          <h6 *ngIf="i==0">Unidades de Origem</h6>
          <h6>{{entityDetail.id}}</h6>
        </div>
        <hr>
        <div *ngFor="let entityDetail of subject.listSuperEndProcess;let i =index">
          <h6 *ngIf="i==0">Unidades de Destino</h6>
          <h6>{{entityDetail.id}}</h6>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col">
            <button (click)="onEditNew(subject)" type="button" class="btn btn-primary btn-lg btn-block">Editar</button>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>