<h5 class="text-center">Cadastramento de Assuntos de Processos</h5>
<br>
<div class="text-center">
  <small *ngIf="status==='editing'">**Pronto para a edição de um ASSUNTO EXISTENTE.</small>
  <small *ngIf="status==='creating'">**Pronto para edição de um NOVO ASSUNTO.</small>
</div>
<form [formGroup]="subjectProcessForm" (submit)="onSubmit()">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-body">
        <div class="form-group">
          <label for="name">Nome</label>
          <input (keyup)="onKeyUpName()" (change)="changingName()" [required]='true' formControlName="name"
            type="search" class="form-control" id="name" placeholder="Digite o nome">
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col">
            <button [disabled]="_submit===false" type="submit" class="btn btn-primary btn-lg btn-block">Salvar</button>
          </div>
          <div class="col">
            <button (click)="onNew()" type="button" class="btn btn-secondary btn-lg btn-block">Novo</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<hr>
<div *ngIf="listing===true">
  <h5 class="text-center">Listagem de Assuntos de Processos</h5>
  <hr>
</div>
<div *ngFor="let subject of _listSubjectProcess">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-body">
        <h5>{{subject.name}}</h5>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col">
            <button (click)="onEdit(subject)" type="button" class="btn btn-primary btn-lg btn-block">Editar</button>
          </div>
          <div class="col">
            <button (click)="connectUnit(subject)" type="button" class="btn btn-secondary btn-lg btn-block">Associar</button>
          </div>
          <div class="col">
            <button (click)="delete(subject)" type="button" class="btn btn-danger btn-lg btn-block">Excluir</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>