<h5>Cadastramento de Processo</h5>
<div *ngIf="!showProcess && !showMensage">
  <app-search-entity (entityEvent)="reciverFeedback($event)"></app-search-entity>
</div>
<div *ngIf="showMensage" class="card text-center">
  <div class="card-hearder">
    <h5>O Requerente não foi localizado. Deseja cadastrá-lo?</h5>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <button (click)="onNew()" type="button" class="btn btn-secondary btn-block">Sim</button>
        </div>
        <div class="col">
          <button (click)="onNewSearch()" class="btn btn-primary btn-block">Não (nova busca)</button>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<br>
<div *ngIf="showPerson">
  <app-individual-person [person]="entity"></app-individual-person>
</div>
<!--<div *ngIf="showPerson">
  <app-person-out [person]="entity" (newEntityEnvent)="reciveNewEntityEvent($event)"></app-person-out>
</div>-->
<!--
<div *ngIf="showProcess">
    <app-process [entity]="entity"></app-process>
  </div>
  -->