<h5 class="text-center">Vinculação de Pessoa à Unidade Adminstrativa</h5>
<br>
<form [formGroup]="sForm" (submit)="onSubmit()">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-body">
        <div class="form-group">
          <label for="id">CPF</label>
          <input [required]='true' formControlName="id" type="text" class="form-control" id="id">
          <small class="text-danger" *ngIf="!!listEntity && listEntity.length==0">Não há pessoas com esse CPF</small>
        </div>
        <div class="card-footer">
          <button [disabled]='!sForm.valid' type="submit" class="btn btn-primary btn-block btn-lg">Localizar</button>
        </div>
      </div>
    </div>
  </div>
</form>
<hr>
<div *ngFor="let entity of listEntity">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <label>name:</label>
        <h5>{{entity.name}}</h5>
        <label>Id:</label>
        <h5>{{entity.id}}</h5>
      </div>
    </div>
  </div>
  <hr>
  <form [formGroup]="registrationForm">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-body">
          <div class="form-group">
            <label for="key_entity">Unidade</label>
            <select [required]='true' (change)="onChangeEntity()" class="form-control" formControlName='key_super'>
              <option *ngFor="let unit of listUnit" [value]="unit._key">{{unit.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="registrationId">Matrícula</label>
            <input [required]='true' formControlName="registrationId" type="text" class="form-control"
              id="registrationId" placeholder="Digite a Matrícula"
              [class.is-invalid]="registrationForm.get('registrationId').invalid && registrationForm.get('registrationId').touched">
            <small
              *ngIf="registrationForm.get('registrationId').invalid && registrationForm.get('registrationId').touched"
              class="text-danger">
              O campo MATRÍCULA está inválido.</small>
          </div>
        </div>
        <div class="card-footer">

          <button [disabled]='!registrationForm.valid' type="button" (click)="connect(entity)"
            class="btn btn-primary btn-lg btn-block">Vincule</button>
        </div>
      </div>
    </div>
  </form>
</div>
<hr>
<h5 class="text-center" *ngIf="!!_listSubEntity && _listSubEntity.length>0">Listagem dos Vinculados à Unidade</h5>
<hr>
<div *ngFor="let sub of _listSubEntity">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-body">
        <label>name:</label>
        <h5>{{sub.name}}</h5>
        <label>Id:</label>
        <h5>{{sub.id}}</h5>
      </div>
    </div>
    <hr>
  </div>