<ngx-loading-bar minimum=0.08 speed=200 ease='linear' trickleSpeed=300 meteor=true spinner=true color='red' thick:true>
</ngx-loading-bar>
<nav class="navbar navbar-expand-md bf-primary navbar-dark fixed-top" style="background-color: #005f9f;">
    <a class="navbar-brand" routerLink="/first">
        <img src="../assets/img/brasao-prefeitura.png" width="30" class="d-inline-block align-top" alt="Brasão da Prefeitura Municipal de Mossoró.">
        Mossoró</a>
    <button (click)="btnclick()" class="navbar-toggler" type="button" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Processos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" (click)="clickGenericLink('/process/list')" routerLink="#">Processos Sob
                        Minha Responsabilidade</a>
                    <div class="dropdown-divider"></div>
                    <!--      <a class="dropdown-item" (click)="redirectEntity()" href="#">Minhas Pendências</a>-->
                    <a class="dropdown-item" (click)="redirectSuper()" href="#">Pendências da Unidade (Intra)</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/administrativeSubjectProcess/process/entity/pending">Pendências da
                        Unidade (Inter)</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="clickGenericLink('/process/movement')" routerLink="#">Movimentação
                        Entre Unidades</a>
                    <!--    <a class="dropdown-item" (click)="clickGenericLink('/process/movement/in')" routerLink="#">Movimentação Dentro da
                        Unidade</a>-->
                    <a class="dropdown-item" (click)="clickGenericLink('/process/get')" routerLink="#">Obtenção de
                        Processos de Terceiros</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="clickGenericLink('/searchProcess')" routerLink="#">Localizar
                        Processos</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="clickGenericLink('/process-new')" routerLink="#">Novo Processo</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Pessoas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="clickGenericLink('/entity/individualPerson')"
                        routerLink="#">Cadastramento de Pessoa Física</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="clickGenericLink('/entity/legalPerson')"
                        routerLink="#">Cadastramento de Pessoa
                        Jurídica</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="clickGenericLink('/person/list')" routerLink="#">Localizar Pessoa
                        Física/Jurídica</a>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Unidades
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="clickGenericLink('/entity/administrative/new')"
                        routerLink="#">Cadastramento de
                        Unidades</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="clickGenericLink('/entity/connect/individualPerson')"
                        routerLink="#">Vincular
                        Pessoas</a>
                    <a class="dropdown-item" (click)="clickGenericLink('/entity/disconnect/individualPerson')"
                        routerLink="#">Desvincular
                        Pessoas</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Usuários
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="clickGenericLink('/user/new')" routerLink="#">Cadastramento de
                        Usuários</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="clickGenericLink('/user/password/change')" routerLink="#">Alterar
                        Senha</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Configurações
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="clickGenericLink('/subjectProcess')" routerLink="#">Cadastramento
                        de Assuntos de
                        Processos (Intra)</a>
                    <a class="dropdown-item" routerLink="/config/administrativeSubjectProcess">Cadastramento de Assuntos
                        de Processos
                        (Inter)</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="clickGenericLink('/subjectDocument')" routerLink="#">Cadastramento
                        de Tipos de
                        Documentos</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="clickGenericLink('/hasSubjectProcessSubjectDocument')"
                        routerLink="#">Tipos Documentos X Assuntos de Processos (Intra)</a>
                    <a class="dropdown-item" routerLink="/config/hasAdministrativeSubjectProcessSubjectDocument">Tipos
                        de Documentos X Assuntos de Processos (Inter)</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="clickGenericLink('/canEntityConnectSubjectProcessComponent')"
                        routerLink="#">Assuntos de Processos X Unidades Administrativas (Intra)</a>
                    <a class="dropdown-item" routerLink="/config/listAdministrativeSubjectProcess">Assuntos de Processos
                        X Unidades Administrativas (Inter)</a>

                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item active">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal"
                    (click)="clickGenericLink('/logout')" routerLink="#"><i class="fa fa-user-circle-o"></i> Sair</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="clickGenericLink('/login')" routerLink="#"><i
                        class="fa fa-user-circle"></i> Entrar</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid" style="margin-top:80px">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sair do DigiPross</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Deseja sair do DigiPross?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                    <button type="button" (click)="logout()" class="btn btn-primary" data-dismiss="modal">Sim</button>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    <br>
</div>