<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
<p>
  <button [type]="type" class="btn btn-outline-primary btn-block btn-lg calendar" [disabled]="disabled" (click)="changeSuccessMessage()">{{textButton}}</button>
</p>