
<div class="card">
  <div class="card-header">
    <h5 class="text-center">Listagem de Documentos</h5>
  </div>
  <div class="card-body">
    <div *ngFor="let documentDetail of _listDocument;let i = index">
      <h5>Assunto:{{documentDetail.subject.name}}</h5>
      <h5>Cadastrado por:{{documentDetail.entity.name}}</h5>

      <div *ngIf="!!documentDetail.document?.text">
        <button type="button" class="btn btn-primary btn-block btn-lg" (click)="showORhide(i)">Exibir Documento</button>
        <div style="display:none" id={{i}}>
          <div [innerHTML]=documentDetail.document.text></div>
        </div>
      </div>
      <div *ngIf="!!documentDetail.document.path">
        <button class="btn btn-primary btn-lg btn-block" type="button" (click)="showORhide(i)">Exibir
          Documento</button>
        <div style="display:none" id="{{i}}">
          <pdf-viewer [src]="documentDetail.document.path" [render-text]="true" style="display: block;">
          </pdf-viewer>
        </div>
      </div>
      {{documentDetail.document.path}}
      <div *ngIf="!documentDetail.document.path && !documentDetail.document?.text">
        <hr>
        <angular-file-uploader [config]="documentDetail.uploader" (ApiResponse)="docUpload($event)">
        </angular-file-uploader>
      </div>
      <br>
      <div *ngIf="!_readonly">
        <app-annulation-document [documentDetail]="documentDetail" (submitEvent)="submitEvent()" [indexComponent]="i">
        </app-annulation-document>
      </div>
      <hr>
    </div>
  </div>
</div>