<h5 class="text-center">Movimentação Dentro da Unidade</h5>
<div class="card text-center">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="card-header">
      <div class="form-group">
        <label for="id_subject">Assunto</label>
        <select [required]='true' (change)="onChange()" class="form-control" formControlName='id_subject'>
          <option *ngFor="let subject of listSubject" [value]="subject._key">{{subject.name}}</option>
        </select>
      </div>
    </div>
    <div class="card-body">
      <div *ngFor="let detailProcess of _listProcess">
        <div>{{detailProcess.allDocumentUp}}</div>
        
        <div *ngIf="detailProcess.allDocumentUp">
          <div class="card">
            <div class="card-header">
              <input type="checkbox" class="form-control" (change)="onChangeCheck(detailProcess.process._key)">
            </div>
            <div class="card-body">
              <h6>Número:</h6>
              <p class="card-title  text-center">{{detailProcess.process.id}}</p>
              <h6>Assunto:</h6>
              <p>{{detailProcess.subjectProcess.name}}</p>
              <h6>Requerente:</h6>
              <p>{{detailProcess.concerned.name}}</p>
              <h6>Texto Base:</h6>
              <p class="card-text">{{detailProcess.process.description}}</p>
<!--              <div *ngIf="!!detailProcess.lastDocument.document">
                <app-viewer-pdf [keyDocument]='detailProcess.lastDocument.document._key'>
                </app-viewer-pdf>
              </div>
              -->
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
    <div class="card-footer">
      <div class="form-group">
        <label for="id_entityTo">Unidade Destino</label>
        <select [required]='true' class="form-control" formControlName='id_entityTo'>
          <option *ngFor="let entityTo of listEntityPersonIn" [value]="entityTo._key">{{entityTo.id}}</option>
        </select>
        <br>
        <button [disabled]='!registrationForm.valid' (click)="move()" type="button"
          class="btn btn-primary btn-block btn-sm">Movimentar</button>
      </div>
    </div>
  </form>
</div>