
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="text">Despacho</label>
    <textarea [required]='true' formControlName="text" class="form-control" id="text" aria-describedby="nameHelp"
      placeholder="Digite o texto do despacho"></textarea>
  </div>
</form>