<div class="container-fluid">
    <h2>Adicionar Abrir Processo</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="form-group" >
        <label for="id_creator">Creator Entity</label>
        <input [required]='true' formControlName="id_creator" type="text" class="form-control" id="id_creator" >
      </div>
      <div class="form-group" >
        <label for="id_process">Id Process</label>
        <input [required]='true' formControlName="id_process" type="text" class="form-control" id="id_process" aria-describedby="nameHelp" placeholder="Enter id process">
      </div>
      <div class="form-group">
        <label for="id_entity">Id</label>
        <input list="listEntity" [required]='true' (keyup)="onKeyUp()" (change)="onEntityChange()" formControlName="id_entity" type="text" class="form-control" id="id_entity" placeholder="Enter Id entity">
      </div>
     <datalist id="listEntity">
       <select>
        <option *ngFor="let entity of listEntity" [value]="entity._key">{{entity.name}}</option>
       </select>
     </datalist>
      <button [disabled]='!registrationForm.valid' type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>