<div class="row pt-5">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Entidades Internas</h3>
        </div>
        <div class="card-body">
            <div><a routerLink="/entity/person/in/new" class="btn btn-primary btn-lg btn-block">Novo Colaborador</a></div>
            <hr>
            <div><a routerLink="/entity/person/in/search" class="btn btn-primary btn-lg btn-block">Localizar Colaborador</a></div>
            <hr>
            <div><a routerLink="/entity/administrative/new" class="btn btn-primary btn-lg btn-block">Nova Unidade</a></div>
            <hr>
            <div><a routerLink="/entity/administrative/search" class="btn btn-primary btn-lg btn-block">Localizar Unidade</a></div>
        </div>
      </div>
    </div>
  </div>