<h5 class="text-center">Associação de Tipos de Documentos a Assuntos de Processos</h5>
<form [formGroup]="subjectProcessForm" (submit)="onSubmit()">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-body">
        <div class="form-group">
          <label for="id_subjectProcess">Assuntos de Processos</label>
          <select [required]='true' class="form-control" (change)="onChangeSubjectProcess()"
            formControlName='id_subjectProcess'>
            <option *ngFor="let subjectProcess of _listSubjectProcess" [value]="subjectProcess._key">
              {{subjectProcess.name}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="id_subjectDocument">Tipos de Documentos</label>
          <select [required]='true' class="form-control" formControlName='id_subjectDocument'>
            <option *ngFor="let subjectDocument of _listSubjectDocument" [value]="subjectDocument._key">
              {{subjectDocument.name}}</option>
          </select>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col">
            <button [disabled]='!subjectProcessForm.valid' type="submit"
              class="btn btn-primary btn-block btn-lg">Adicione</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div *ngIf="_listHasSubjectDocument.length>0">
  <hr>
  <h5 class="text-center">Listagem de Assuntos</h5>
  <hr>
</div>
<div *ngFor="let subject of _listHasSubjectDocument">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-body">
        <h5>{{subject.name}}</h5>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col">
            <button (click)="delete(subject)" type="button" class="btn btn-danger btn-lg btn-block">Excluir</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>