<h5 class="text-center">Associação de Assuntos de Processos a Unidades Administrativas</h5>
<form [formGroup]="registrationForm" (submit)="onSubmit()">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-body">

        <div *ngIf="status=='creating'">
          <div class="form-group">
            <label for="id_subjectProcess">Assuntos de Processos</label>
            <select [required]='true' class="form-control" (change)="onChangeSubjectProcess()"
              formControlName='id_subjectProcess'>
              <option *ngFor="let subjectProcess of _listSubjectProcess" [value]="subjectProcess._key">
                {{subjectProcess.name}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="id_entity">Unidades Administrativas</label>
            <select [required]='true' class="form-control" formControlName='id_entity'>
              <option *ngFor="let entity of _listAdministrativeSibling" [value]="entity._key">
                {{entity.id}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="status=='editing'">
          <div class="card">
            <div class="card-header">
              <label>Assunto:</label>
              <h5>{{subjectProcessSelected.name}}</h5>
              <label>Unidade Administrativa:</label>
              <h5>{{entityDetailSelected.entity.id}}</h5>
            </div>
          </div>
        </div>
        <hr>
<!--        <div class="form-group">
          <label for="suggestionText">Dicas de procedimentos:</label>
          <textarea id="suggestionText" class="form-control" formControlName='suggestionText'></textarea>
        </div>
        -->
        <div class="form-group">
          <label for="canCreateProcess">Pode cadastrar processos?</label>
          <select id="canCreateProcess" [required]='true' class="form-control" formControlName='canCreateProcess'>
            <option value="true">Sim</option>
            <option value="false">Não</option>
          </select>
        </div>
        <div class="form-group">
          <label for="dispatch">Pode emitir despachos?</label>
          <select id="dispatch" class="form-control" formControlName='dispatch'>
            <option value="Dispatch">Sim</option>
            <option value="" [selected]="true">Não</option>
          </select>
        </div>
        <div class="form-group">
          <label for="opinion">Pode emitir pareceres?</label>
          <select id="opinion" class="form-control" formControlName='opinion'>
            <option value="Opinion">Sim</option>
            <option value="" [selected]="true">Não</option>
          </select>
        </div>
        <div class="form-group">
          <label for="filing">Pode realizar arquivamentos?</label>
          <select id="filing" class="form-control" formControlName='filing'>
            <option value="Filing">Sim</option>
            <option value="" [selected]="true">Não</option>
          </select>
        </div>
        <div class="form-group">
          <label for="decision">Pode emitir decisões?</label>
          <select id="decision" class="form-control" formControlName='decision'>
            <option value="Decision">Sim</option>
            <option value="" [selected]="true">Não</option>
          </select>
        </div>
        <div class="form-group">
          <label for="authorization">Pode emitir alvarás?</label>
          <select id="authorization" class="form-control" formControlName='authorization'>
            <option value="Authorization">Sim</option>
            <option value="" [selected]="true">Não</option>
          </select>
        </div>
        <div class="form-group">
          <label for="attach">Pode juntar documentos?</label>
          <select id="attach" class="form-control" formControlName='attach'>
            <option value="Attach">Sim</option>
            <option value="" [selected]="true">Não</option>
          </select>
        </div>
        <div class="container">
          <div class="row">
            <div class="col">
              <app-button-alert [disabled]='!registrationForm.valid' [type]="submit" [duration]="5000"
                [textButton]="'Salvar'" [message]="'Há alguma modificação na lista abaixo!'"></app-button-alert>

              <!--        <button [disabled]='!registrationForm.valid' type="submit"
          class="btn btn-primary btn-block btn-sm">Enviar</button>
          -->
            </div>
            <div class="col">
              <button type="button" (click)="newCan()" class="btn btn-primary btn-block btn-lg">Reiniciar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<hr>
<h4 class='text-center'>Listagem de Unidades</h4>
<hr>
<div class="col-md-6 mx-auto">
  <div class="card rounded-0">
    <div class="card-body">
      <div *ngFor="let entityDetail of _listCanEntityConnectSubjectProcess">
        <div class="card">
          <div class="card-header">
            <h5>{{entityDetail.entity.name}}</h5>
            <h5>{{entityDetail.has?.suggestionText}}</h5>
          </div>
          <div class="card-body">
            <h5 *ngIf="entityDetail.has.canCreateProcess == 'true'">Pode Cadastrar Processos</h5>
            <div *ngFor="let typeDoc of entityDetail.has._listTypeDocumentCreation">
              <h5 *ngIf="typeDoc == 'Opinion'">Pode Emitir Pareceres.</h5>
              <h5 *ngIf="typeDoc == 'Decision'">Pode Emitir Decisões.</h5>
              <h5 *ngIf="typeDoc == 'Filing'">Pode Realizar Arquivamentos.</h5>
              <h5 *ngIf="typeDoc == 'Dispatch'">Pode Emitir Despachos.</h5>
              <h5 *ngIf="typeDoc == 'Authorization'">Pode Emitir Alvarás.</h5>
              <h5 *ngIf="typeDoc == 'Attach'">Pode Juntar Documentos.</h5>
            </div>
          </div>
          <div class="card-footer">
            <button type="button" (click)="edit(entityDetail)" class="btn btn-primary btn-lg btn-block">Editar</button>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
  <hr>
</div>