<h5 class="text-center">Desvinculação de Pessoa de Unidade Adminstrativa</h5>
<form [formGroup]="registrationForm">
  <div class="form-group  text-center">
    <small>*Selecione uma Unidade para listar as Pessoas vinculadas.</small>
    <br>
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-body">
          <label for="key_entity">Unidade</label>
          <select [required]='true' (change)="onChangeEntity()" class="form-control" formControlName='key_super'>
            <option *ngFor="let unit of listUnit" [value]="unit._key">{{unit.name}}</option>
          </select>
          <small *ngIf="!!_listSubEntity && _listSubEntity.length==0" class="text-danger">Não há Pessoas Vinculadas a
            está
            Unidade Administrativa.</small>
        </div>
      </div>
    </div>
  </div>
</form>
<hr>
<div class="container">
  <h5 class="text-center" *ngIf="!!_listSubEntity && _listSubEntity.length>0">Listagem das Pessoas Vinculadas à
    Unidade</h5>
  <div *ngIf="canDeleteError">
    <br>
    <small class="text-danger">A operação não pode ser realizada.</small>
  </div>
</div>
<hr>
<div *ngFor="let sub of _listSubEntity">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <label>name:</label>
        <h6>{{sub.name}}</h6>
        <label>Id:</label>
        <h6>{{sub.id}}</h6>
      </div>
      <div class="card-footer">
        <button type="button" (click)="disconnect(sub)" class="btn btn-primary btn-lg btn-block">Desvincular</button>
      </div>
    </div>
  </div>
  <hr>
</div>
<hr>