<div class="container-fluid">
    <h2>Registration Entity</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="form-group" >
        <label for="entity.id_creator">Creator Entity</label>
        <input [required]='true' formControlName="id_creator" type="text" class="form-control" id="entity.id_creator" >
      </div>
      <div class="form-group" >
        <label for="entity.name">Name</label>
        <input [required]='true' formControlName="name" type="text" class="form-control" id="entity.name" aria-describedby="nameHelp" placeholder="Enter name">
      </div>
      <div class="form-group">
        <label for="entity.id">Cpf</label>
        <input [required]='true' formControlName="id" type="text" class="form-control" id="entity.id" placeholder="Enter Id">
      </div>
      <div class="form-group">
        <label for="id_super">Entidade</label>
        <input list="listEntity" [required]='true' (keyup)="onKeyUp()" (change)="onEntityChange()" formControlName="id_super" type="text" class="form-control" id="id_entity" placeholder="Enter Id entity">
      </div>
      <datalist id="listEntity">
         <select>
          <option *ngFor="let entity of listEntity" [value]="entity._key">{{entity.name}}</option>
         </select>
      </datalist>
      <div class="form-group">
        <label for="entity.id">Cpf</label>
        <input [required]='true' formControlName="id" type="text" class="form-control" id="entity.id" placeholder="Enter Id">
      </div>
  
      <button [disabled]='!registrationForm.valid' type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>