<h5 class="text-center">Obtenção de Processos</h5>
<div class="card">
  <form [formGroup]="registrationForm" (ngSubmit)="move()">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-header  text-center">
          <div class="form-group">
            <label for="id_entity">Colega da unidade:</label>
            <select [required]='true' (change)="onChange()" class="form-control" formControlName='id_entityFrom'>
              <option *ngFor="let entity of listEntity" [value]="entity._key">{{entity.name}}</option>
            </select>
          </div>
        </div>

        <div *ngIf="!!_listProcess" class="card-header">
          <div class="form-group">
            <label for="id_process">Nome do Requerente ou Código do Processo:</label>
            <div class="row">
              <div class="col">
                <input formControlName="id_process" type="search" class="form-control"
                  id="id_process">
              </div>
              <div class="col">
                <button (click)="destacarId()" type="button" class="btn btn-primary btn-block btn-sm">Destacar</button>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body text-center">
          <div *ngFor="let detailProcess of _listProcess">
            <div class="card dinamic-show {{detailProcess.process.id}} {{detailProcess.concerned.name}}"
              style="display:block">
              <div class="card-header">
                <input type="checkbox" class="form-control" (change)="onChangeCheck(detailProcess.process._key)">
              </div>
              <div class="card-body">
                <h6>Número:</h6>
                <p class="card-title  text-center">{{detailProcess.process.id}}</p>
                <h6>Assunto:</h6>
                <p>{{detailProcess.subjectProcess.name}}</p>
                <h6>Requerente:</h6>
                <p>{{detailProcess.concerned.name}}</p>
                <h6>Texto Base:</h6>
                <p class="card-text">{{detailProcess.process.description}}</p>
              </div>
            </div>
            <br>
          </div>
        </div>
        <div class="card-footer text-center">
          <br>
          <app-button-alert [disabled]='!registrationForm.valid || btnDisabled' [type]="submit" [duration]="5000"
            [textButton]="'Obter Process'" [message]="'Obtenção Realizada!'"></app-button-alert>
        </div>
      </div>
    </div>
  </form>
</div>