<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-header">
        <p><b>DigiProcess:</b> é um sistema para cadastramento e acompanhamento de processos digitais.</p>
      </div>
    </div>
  </div>
</div>
<!--<app-modal-confirmation [message]='"Processo arquivado com sucesso!"' [textButton]='"Ir para Processos sob minha responsabilidade"' [nameRoute]='"/process/list"'></app-modal-confirmation>
-->
  <hr>
<div *ngIf="!!user" class="row">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-body">
        <p><b>Usuário:</b> {{user.name}}</p>
        <p><b>Pessoa:</b> {{entity.name}}</p>
        <p><b>Lotação:</b> {{_super.name}}</p>
      </div>
    </div>
  </div>
</div>