<div class="container-fluid">
    <h5 class="text-center">Cadastro de Usuário Interno</h5>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="form-group" >
        <label for="name">Nome</label>
        <input [required]='true' formControlName="name" type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Digite o nome">
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input [required]='true' formControlName="password" type="text" class="form-control" id="password" placeholder="Digite a senha">
      </div>
      <div class="form-group">
          <label for="key_unit">Unidade</label>
          <select [required]='true' class="form-control" formControlName='key_unit'>
            <option *ngFor="let unit of listUnit" [value]="unit._key">{{unit.name}}</option>
          </select>
        </div>
      <button [disabled]='!registrationForm.valid' type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>