<h5 class="text-center">Cadastro de Assunto de Documento</h5>
<div class="text-center">
<small *ngIf="status==='editing'">**Pronto para a edição de um ASSUNTO EXISTENTE.</small>
<small *ngIf="status==='creating'">**Pronto para edição de um NOVO ASSUNTO.</small>
</div>
<form [formGroup]="subjectDocumentForm" (submit)="onSubmit()">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-body">
        <div class="form-group">
          <label for="name">Nome</label>
          <input (keyup)="onKeyUpName()" (change)="changingName()" [required]='true' formControlName="name"
            type="search" (keyup)="onKeyUpName()" class="form-control" id="name" aria-describedby="nameHelp"
            placeholder="Digite o nome">
        </div>
        <div class="container">
          <div class="row">
            <div class="col">
              <button [disabled]="_submit===false" type="submit"
                class="btn btn-primary btn-lg btn-block">Salvar</button>
            </div>
            <div class="col">
              <button (click)="onNew()" type="button" class="btn btn-secondary btn-lg btn-block">Novo</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<hr>
<hr>
<div *ngIf="listing===true">
  <h5 class="text-center">Listagem de Assuntos de Processos</h5>
  <hr>
</div>
<div *ngFor="let subject of _listSubjectDocument">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-body">
        <h5>{{subject.name}}</h5>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col">
            <button (click)="onEdit(subject)" type="button" class="btn btn-primary btn-lg btn-block">Editar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
