<h5 class="text-center">Processos Sob Minha Responsabilidade</h5>
<div class="col-md-6 mx-auto">
  <div class="card rounded-0">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="card-header">
        <div class="form-group">
          <label for="id_subject">Assunto</label>
          <select [required]='true' (change)="onChange()" class="form-control" formControlName='id_subject'>
            <option *ngFor="let subject of listSubject" [value]="subject._key">{{subject.name}}</option>
          </select>
        </div>
      </div>
      <div *ngIf="!!_listProcess" class="card-header">
        <div class="form-group">
          <label for="id_process">Nome do Requerente ou Código do Processo:</label>
          <div class="row">
            <div class="col">
              <input formControlName="id_process" type="search" class="form-control" id="id_process">
            </div>
            <div class="col">
              <button (click)="destacarId()" type="button" class="btn btn-primary btn-block btn-sm">Destacar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="card-body text-center">
      <div *ngFor="let detailProcess of _listProcess">
        <div class="card dinamic-show {{detailProcess.process.id}} {{detailProcess.concerned.name}}">
          <div class="card-header">
            <h6 class="text-center">Número:</h6>
            <p class="card-title text-center">{{detailProcess.process.id}}</p>
            <h6 class="text-center">Assunto:</h6>
            <p class="text-center">{{detailProcess.subjectProcess.name}}</p>
            <h6 class="text-center">Requerente:</h6>
            <p class="text-center">{{detailProcess.concerned.name}}</p>
          </div>
          <div class="card-body">
            <h6 class="text-center">Texto Base:</h6>
            <p class="card-text">{{detailProcess.process.description}}</p>
            <div class="card-footer text-muted">
              <a routerLink="/painelControlProcess/{{detailProcess.process._key}}"
                class="btn btn-primary btn-lg btn-block">Abrir</a>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>