<div class="row pt-5">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Entidades Internas</h3>
        </div>
        <div class="card-body">
            <div><a routerLink="/subjectProcess" class="btn btn-primary btn-lg btn-block">Cadastrar Assuntos de Processos</a></div>
            <hr>
            <div><a routerLink="/subjectDocument" class="btn btn-primary btn-lg btn-block">Cadastrar Tipos de Documentos</a></div>
            <hr>
            <div><a routerLink="/hasSubjectProcessSubjectDocument" class="btn btn-primary btn-lg btn-block">Associar Tipos de Documentos a Assuntos de Processos</a></div>
            <hr>
            <div><a routerLink="/canEntityConnectSubjectProcessComponent" class="btn btn-primary btn-lg btn-block">Associar Assuntos de Processos a Unidades Administrativas</a></div>
        </div>
      </div>
    </div>
  </div>
