<h3 class="text-center">Localizar Processo</h3>
<div class="container-fluid">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="id_process">Código do Processo:</label>
      <div class="row">
        <div class="col">
          <input [required]='true' formControlName="id_process" type="search" class="form-control" id="id_process">
        </div>
        <div class="col">
          <button [disabled]='!searchForm.valid' type="submit"
            class="btn btn-primary btn-block btn-sm">Localizar</button>
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="!!processFullDetail">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h6 class="text-center">Número:</h6>
          <p class="text-center">{{processFullDetail.process.id}}</p>
          <h6 class="text-center">Assunto:</h6>
          <p class="text-center">{{processFullDetail.subjectProcess.name}}</p>
          <h6 class="text-center">Requerente:</h6>
          <p class="text-center">{{processFullDetail.concerned.name}}</p>
          <h6 class="text-center">Responsável:</h6>
          <p class="text-center">{{processFullDetail.admConcerned.name}}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              DETALHES DOS EVEVENTOS
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div *ngIf="!!processFullDetail.promiseDetail">
            <h6>Pendência de confimação:</h6>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body" id="headingOne">
                <p>{{processFullDetail.promiseDetail.entity.name}}</p>
                <h6>Desde:</h6>
                <p>{{processFullDetail.promiseDetail.event.timeStart | date:'dd/MM/yyyy - hh:mm:ss'}}</p>
              </div>
            </div>
          </div>
          <h6>Histórico de movimentações:</h6>
          <div *ngFor="let entityTime of processFullDetail.listEntity" class="card">
            <div class="card-body" id="headingOne">
              <h6>Unidade Administrativa:</h6>
              <p>{{entityTime.entity.name}}</p>
              <h6>Em:</h6>
              <p>{{entityTime.time | date:'dd/MM/yyyy - hh:mm:ss'}}</p>
            </div>
          </div>
          <h6>Histórico de Documentos:</h6>
          <div *ngFor="let docDetail of processFullDetail.listDocNotNull;let i = index" class="card">
            <div class="card-body" id="headingOne">
              <h6>Tipo do documento:</h6>
              <p>{{docDetail.subjectDocument.name}}</p>
              <h6>Cadastrador:</h6>
              <p>{{docDetail.entity.name}}</p>
              <h6>Unidade:</h6>
              <p>{{docDetail.super.name}}</p>
              <h6>Em:</h6>
              <p>{{docDetail.event.timeStart | date:'dd/MM/yyyy - hh:mm:ss'}}</p>
              <!-- <div *ngIf="!docDetail.document.path">

                <button type="button" class="btn btn-primary btn-block btn-lg"
                  (click)="onShowText(i)">Exibir </button>
                <div style="display:none" id={{i}}>-->
              <!--              <div *ngIf="!!doctDetail.document"> -->
              <!--                <h6>Documento:</h6>
                <br>

                <div [innerHTML]=docDetail.document?.text></div>
                  </div>
              </div>
                <div *ngIf="!!doctDetail.document.path">
                  <pdf-viewer [src]="docDetail.document.path" [render-text]="true" style="display: block;">
                  </pdf-viewer>
                </div>
              </div>-->
            </div>
          </div>
<!--
          <h6>Histórico de Documentos Cancelados:</h6>
          <div *ngFor="let docDetail of processFullDetail.listDocNull;let i = index" class="card">
            <div class="card-body" id="headingOne">
              <h6>Tipo do documento:</h6>
              <p>{{docDetail.subjectDocument.name}}</p>
              <h6>Cadastrador:</h6>
              <p>{{docDetail.entity.name}}</p>
              <h6>Unidade:</h6>
              <p>{{docDetail.super.name}}</p>
              <h6>Justificativa:</h6>
              <textarea readonly class="form-control">{{docDetail.event.justification}}</textarea>
              <h6>Em:</h6>
              <p>{{docDetail.event.timeStart | date:'dd/MM/yyyy - hh:mm:ss'}}</p>
              <div *ngIf="!!docDetail.document.text">
                <button type="button" class="btn btn-primary btn-block btn-lg"
                  (click)="onShowText(i)">Exibir Documento</button>
                <div style="display:none" id={{i}}>-->
              <!--              <h6>Texto:</h6>
              <br>
              <br>
              <div [innerHTML]=docDetail.document.text></div>
                     </div>
              </div>
                <div *ngIf="!!doctDetail.document.path">
              <pdf-viewer [src]="docDetail.document.path" [render-text]="true" style="display: block;">
              </pdf-viewer>
               </div>
            </div>
          </div>
        
            </div>
          </div>
        -->
        </div>
      </div>
    </div>