<button class="btn btn-primary btn-lg btn-block" type="button" (click)="showPdf()">Exibir Documento</button>

<div  *ngIf="isShow"  class="embed-responsive embed-responsive-16by9" >
    <iframe [id]="idDoc" height="100" class="embed-responsive-item e2e-iframe-trusted-src" [src]="_urlDoc"></iframe>
</div>