<button class="btn btn-primary btn-lg btn-block" type="button" (click)="getPdfFile();showORhide()">Exibir Documento</button>

<div [id]="keyDocument" *ngIf="!!urlPdf" class="embed-responsive embed-responsive-16by9">
    <iframe height="100" class="embed-responsive-item e2e-iframe-trusted-src" [src]="url"></iframe>
</div>