<div class="container-fluid">
    <h4>Cadastro de Empresa</h4>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="form-group" >
        <label for="name">Nome</label>
        <input [required]='true' formControlName="name" type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Digite o nome">
      </div>
      <div class="form-group">
        <label for="id">Cnpj</label>
        <input [required]='true' formControlName="id" type="text" class="form-control" id="id" placeholder="Digite o Cnpj">
      </div>
      <button [disabled]='!registrationForm.valid' type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>