<div class="container-fluid">
  <h5 class="text-center">Cadastramento de Pessoa Jurídica</h5>
  <div class="text-center">
    <br>
    <small *ngIf="status=='editing'">Pronto para a edição de uma EMPRESA EXISTENTE.</small>
    <small *ngIf="status=='creating'">Pronto para a edição de um NOVA EMPRESA.</small>
    <br>
  </div>
  <form [formGroup]="registrationForm">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-body">

          <div class="form-group">
            <label for="id">CNPJ</label>
            <input [readonly]="!!person?._key" (keyup)="changeId()" (change)="changeId()" pattern="([0-9]{14})"
              [required]='true' formControlName="id" type="text" class="form-control" id="id"
              placeholder="Digite apenas números. Observe se há apenas números."
              [class.is-invalid]="(registrationForm.get('id').invalid || idExist) && registrationForm.get('id').touched">

            <small *ngIf="registrationForm.get('id').invalid && registrationForm.get('id').touched" class="text-danger">
              O campo CNPJ está inválido.</small>
            <small *ngIf="idExist && registrationForm.get('id').touched" class="text-danger">
              O CNPJ já cadastrado.</small>
          </div>
          <div class="form-group">
            <label for="name">Nome</label>
            <input [required]='true' formControlName="name" type="text" class="form-control" id="name"
              placeholder="Digite o nome"
              [class.is-invalid]="registrationForm.get('name').invalid && registrationForm.get('name').touched">
            <small *ngIf="registrationForm.get('name').invalid && registrationForm.get('name').touched"
              class="text-danger">
              O campo NOME está inválido.</small>
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="Digite o E-mail"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
              [class.is-invalid]="registrationForm.get('email').invalid && registrationForm.get('email').touched  && registrationForm.get('email').dirty">
            <small [class.text-danger]="true"
              *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched  && registrationForm.get('email').dirty">O
              campo E-EMAIL está
              inválido</small>
          </div>
          <div class="form-group">
            <label for="phone">Telefone</label>
            <input [required]="true" formControlName="phone" type="text" class="form-control" id="phone"
              placeholder="Digite o telefone"
              [class.is-invalid]="registrationForm.get('phone').invalid && registrationForm.get('phone').touched">
            <small [class.text-danger]="true"
              *ngIf="registrationForm.get('phone').invalid && registrationForm.get('phone').touched">O campo TELEFONE
              está
              inválido.</small>
          </div>
          <app-address [address]="address" (eventAddress)="reciverEventAddress($event)"></app-address>
          <div *ngIf="!!address">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="firstId">Número</label>
                    <input [required]='true' formControlName="firstId" type="text" class="form-control" id="firstId"
                      placeholder="Digite o número."
                      [class.is-invalid]="registrationForm.get('firstId').invalid && registrationForm.get('firstId').touched">
                    <small *ngIf="registrationForm.get('firstId').invalid && registrationForm.get('firstId').touched"
                      class="text-danger">
                      O campo NÚMERO está inválido.</small>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="complemento">Complemento</label>
                    <input formControlName="complemento" class="form-control" type="text" id="complemento"
                      placeholder="Digite o complemento">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button [disabled]='!registrationForm.valid && idExist' type="button" (click)="onSubmit()"
            class="btn btn-primary btn-block btn-lg">Enviar</button>
        </div>
      </div>
    </div>
  </form>
</div>